<h1>Tablero Memotest</h1>
<% @fila = 0 %>
<% @columna = 0 %>
<% @num = 0 %>
<table>
<% @@filas.times do %>
<% @fila += 1 %>
<tr>
<% @@columnas.times do %>
<% @columna += 1 %>
<% @num += 1 %>
<td>
<form method="post" action="/presionaBoton/<%=@num%>">
	<input type="submit" value= "<%=  @@memo.valor_boton(@num)  %>" id="b<%=@num%>"
	<%= if @@memo.esta_presionado(@num) == true then "disabled" end %>
	/>
</form>
</td>
<% end %>
</tr>
<% end %>
</table>
<p>Vidas: <%=@@intentos%></p>
<p><bold>Resultado Memotest : <%= @resultado %></bold></p>

<form method="post" action="/reset">
	<input type="submit" value="Reiniciar" />
</form>
